@import '../../styles/app.scss';

.modal {
  --modal-color-shadow: rgba(0, 0, 0, 0.5019607843);

  --modal-content-bg-color: var(--white-color);
  --modal-content-padding: 2rem;
  --modal-content-width: 41.375rem;
  --modal-content-height: auto;
  --modal-content-gap: 1rem;

  --modal-content-border-radius: var(--main-border-radius);
  --modal-content-border-size: 3px;
  --modal-content-border-color: var(--black-color);

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-center;
  overflow: auto;
  background-color: var(--modal-color-shadow);

  &-content {
    z-index: 100;
    width: var(--modal-content-width);
    height: var(--modal-content-height);
    @include flex-column;
    gap: var(--modal-content-gap);
    background-color: var(--modal-content-bg-color);
    border-radius: var(--modal-content-border-radius);
    border: var(--modal-content-border-size) solid var(--modal-content-border-color);
    padding: var(--modal-content-padding);

    &__title {
      width: 100%;
      display: flex;
    }

    &__close {
      width: 34px;
      height: 34px;
      @include flex-center;
    }

    &__header {
      @include flex-column;
      align-items: flex-end;
    }

    &__footer {
      display: flex;
      gap: 2rem;
    }
  }

}
