@import '../../../styles/app.scss';

.avatar-setting {
  @include flex-column;
  align-items: center;
  gap: 1rem;

  &__title {
    @include flex-column;
    align-items: flex-start;
  }

  &__body {
    @include flex-column;
    align-items: center;
    gap: 1rem;
    fill: $color-gray-400;
  }

  &__label {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    @include flex-center;
    border-radius: 50%
  }

  &__icon {
    position: absolute;
    top: 0.938rem;
    left: 0.938rem;
  }

  &__upload-avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__text {
    @include flex-center;
    gap: 1rem;
  }

  &__spinner {
    fill: none;
  }
}
