.main {
  position: relative;
  width: 100%;
  min-width: 600px;
  display: flex;
  align-items: flex-start;
  overflow-y: auto;


  @media(max-width:48rem) {
    min-width: 520px;
  }

  @media(max-width:36rem) {
    min-width: 100%;
  }
}
