@import '../../styles/app.scss';

.text-area {
  --text-area-width: 100%;
  --text-area-height: 7.188rem;

  --text-area-padding: 1rem;

  --text-area-border-color: #{$color-dark};
  --text-area-border-radius: #{$main-border-radius};
  --text-area-border-size: 1px;

  --text-area-text-align: start;
  --text-area-font-size: 1rem;
  --text-area-line-height: 1rem;
  --text-area-color: #{$color-dark};

  --text-area-placeholder-font-size: 1rem;
  --text-area-placeholder-line-height: 1rem;
  --text-area-placeholder-color: #{$color-gray-400};

  --text-area-focus-visible-shadow: none;
  --text-area-focus-visible-outline: 1px solid #{$color-dark};

  width: var(--text-area-width);
  height: var(--text-area-height);
  padding: var(--text-area-padding);
  border: var(--text-area-border-size) solid var(--text-area-border-color);
  border-radius: var(--text-area-border-radius);
  resize: none;
  text-align: var(--text-area-text-align);
  font-size: var(--text-area-font-size);
  line-height: var(--text-area-line-height);
  color: var(--text-area-color);

  &::placeholder {
    font-size: var(--text-area-placeholder-font-size);
    line-height: var(--text-area-placeholder-line-height);
    color: var(--text-area-placeholder-color);
  }

  &:focus-visible {
    outline: var(--text-area-focus-visible-outline);
    box-shadow: var(--text-area-focus-visible-shadow);
  }

  &_primary {
    --text-area-border-size: 2px;

    --text-area-font-size: 1.375rem;
    --text-area-line-height: 1.75rem;

    --text-area-font-size: 1.375rem;
    --text-area-line-height: 1.75rem;

    --text-area-placeholder-line-height: 1.25rem;

    --text-area-focus-visible-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.6);
    --text-area-focus-visible-outline: none;
  }

  &__item {
    position: relative;
  }

  &__btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  &_padding {
    &_size {
      &_btn-size {
        --text-area-padding: 10px 75px 1rem 1rem
      }
    }
  }

  &_height {
    &_size {
      &_sm {
        --text-area-height: 4rem;
      }
    }
  }

}
