@import '../../styles/app.scss';

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-100);
  width: 100%;

  &__item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    color: var(--black-color);
    transition: background-color 0.4s;

    &:hover {
      background-color: var(--gray-100);
    }

    &:active {
      color: var(--gray-500);
      background-color: transparent;
      transition: color 0.4s;
    }

    &_active {
      border-bottom: 3px solid var(--black-color);
    }
  }
}
