@import '../../styles/app.scss';

.tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-100;
  width: 100%;

  &__item {
    padding: 0.5rem 1rem;
    border-radius: $main-border-radius;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    color: $color-dark;
    transition: background-color 0.4s;

    &:hover {
      background-color: $color-gray-100;
    }

    &:active {
      color: $color-gray-500;
      background-color: transparent;
      transition: color 0.4s;
    }

    &_active {
      border-bottom: 3px solid $color-dark;
    }
  }
}
