@import '../../styles/app.scss';

.carousel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  &-toggle {
    position: absolute;
    @include flex-center;
    z-index: 2;

    &__left {
      left: 2px;
    }

    &__right {
      right: 10px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  &__item {
    position: relative;
    height: 340px;
    flex: 0 0 calc(50% - 0.5rem);

    &:hover {
      .carousel__btn-edit {
        display: inline-flex;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: var(--main-border-radius);
  }

  &__btn-edit {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    z-index: 5;
  }
}
