@import '../../styles/app.scss';

.btn {
  --btn-color: #{$color-white};
  --btn-color-hover: #{$color-dark};
  --btn-color-active: #{$color-dark};

  --btn-bg-color: transparent;
  --btn-bg-color-hover: transparent;
  --btn-bg-color-active: transparent;

  --btn-border-size: 1px;
  --btn-border-color: transparent;
  --btn-border-color-hover: transparent;
  --btn-border-color-active: transparent;

  --btn-radius: #{$main-border-radius};

  --btn-font-size: 1.375rem;
  --btn-font-weight: 400;
  --btn-line-height: 1.75rem;

  --btn-padding: 0.75rem 1rem;

  --btn-transition-time: 0.4s;

  --btn-fill: #{$color-dark};
  --btn-fill-hover: #{$color-dark};
  --btn-fill-active: #{$color-dark};

  --btn-focus-visibility: 0px 0px 8px 3px rgba(0, 0, 0, 0.6);
  --btn-hover-box-shadow: none;

  @include flex-center;
  text-transform: capitalize;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  border: var(--btn-border-size) solid var(--btn-border-color);
  border-radius: var(--btn-radius);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  padding: var(--btn-padding);
  width: 100%;
  cursor: pointer;
  transition: background-color var(--btn-transition-time);
  fill: var(--btn-fill);

  &:hover {
    color: var(--btn-color-hover);
    background-color: var(--btn-bg-color-hover);
    border-color: var(--btn-border-color-hover);
    fill: var(--btn-fill-hover);
    box-shadow: var(--btn-hover-box-shadow);
  }

  &:active {
    color: var(--btn-color-active);
    background-color: var(--btn-bg-color-active);
    border-color: var(--btn-border-color-active);
    fill: var(--btn-fill-active);
    transition: border-color var(--btn-transition-time);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--btn-focus-visibility);
  }

  &_primary {
    --btn-bg-color: #{$color-dark};
    --btn-border-size: 2px;
    --btn-border-color: #{$color-dark};

    --btn-color-hover: #{$color-dark};
    --btn-border-color-hover: #{$color-dark};
    --btn-hover-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.6);

    &_hover_color {
      --btn-color-hover: #{$color-white};
      --btn-fill-hover: #{$color-white};
      --btn-bg-color-hover: #{$color-dark-light};

      --btn-bg-color-active: #{$color-gray-600};
      --btn-color-active: #{$color-white};
      --btn-fill-active: #{$color-white};
    }
  }

  &_transparent {
    --btn-color: #{$color-dark};
    --btn-color-hover: #{$color-gray-400};
    --btn-color-active: #{$color-gray-500};

    --btn-padding: none;

    --btn-fill: #{$color-dark};
    --btn-fill-hover: #{$color-gray-400};
    --btn-fill-active: #{$color-gray-500};

    &_shadow {
      &_enabled {
        --btn-color: #{$color-dark};
        --btn-color-active: #{$color-gray-500};

        --btn-fill: #{$color-dark};
        --btn-fill-active: #{$color-gray-500};

        --btn-radius: 50%;
        --btn-padding: 2px;
        --btn-hover-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.6);

        &_fill {
          &_red {

            --btn-color: #{$color-dark};
            --btn-color-active: #{$color-gray-500};

            --btn-fill: #{$color-danger};
            --btn-fill-hover: #{$color-danger};
            --btn-fill-active: #{$color-gray-500};

            --btn-radius: 50%;
            --btn-padding: 2px;
            --btn-hover-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.6);
          }
        }
      }

      &_color {
        &_white {
          --btn-color: #{$color-white};
          --btn-color-active: #{$color-white};

          --btn-bg-color: #{$color-dark-light};
          --btn-bg-color-hover: #{$color-dark-light};
          --btn-bg-color-active: #{$color-dark-light};

          --btn-fill: #{$color-white};
          --btn-fill-hover: #{$color-white};
          --btn-fill-active: #{$color-gray-300};

          --btn-hover-box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.6);
        }

      }
    }
  }

  &_size {
    &_sm {
      --btn-font-size: 1rem;
      --btn-line-height: 1.5rem;

      --btn-padding: 0.5rem 0.75rem;
    }
  }

  &_rounded {
    --btn-radius: 50%;

    --btn-padding: 0.5rem;
  }

  &_color {
    &_white {
      --btn-color: #{$color-white};
      --btn-fill: #{$color-white};
    }
  }

  &_flat {
    --btn-radius: 1rem;

    --btn-padding: 0 1rem;
  }

  &_outline {
    --btn-color: #{$color-dark};
    --btn-bg-color: transparent;
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &_padding {
    &_none {
      padding: 0;

      &_vertical {
        padding: 0 0.313rem;
      }
    }
  }
}
