.profile {

  &-header {
    display: flex;
    gap: 1rem;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &-body {


    &__item {
      position: relative;
      height: 100%;
      width: 100%;
    }

    &__user-banner {
      height: 25vh;
      max-height: 200px;
      background-color: var(--gray-100);
    }

    &__user-avatar {
      position: absolute;
      top: 50%;
      left: 5%;
      fill: var(--gray-400);
    }
  }
}
