@import '../../styles/app.scss';

.profile {
  @include flex-column;
  gap: 0.5rem;

  &-header {
    display: flex;
    gap: 1rem;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &-body {
    @include flex-column;
    gap: 1rem;
    position: relative;

    align-items: flex-end;

    &__item {
      height: 100%;
      width: 100%;

      &_width_sm {
        width: 200px;
      }
    }

    &__user-banner {
      height: 200px;
      background-color: var(--gray-100);
    }

    &__user-avatar {
      position: absolute;
      bottom: 0;
      left: 5%;
      fill: var(--gray-400);
    }
  }

  &-footer {
    padding-top: 1rem;
    display: flex;

    &__item {
      @include flex-column;
      align-items: flex-start;
    }
  }
}
