@import '../../styles/app.scss';

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 5;

  &_active {
    display: inline-block;
    border-radius: $main-border-radius;
    border: 2px solid $color-dark;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.6);
    background-color: $color-white;
  }

  &-list {
    @include flex-column;
    gap: 0.5rem;

    &__item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      text-align: left;
      cursor: pointer;
      padding: 0.5rem 2rem 0.5rem 0.5rem;

      &:first-child {
        border-radius: $main-border-radius $main-border-radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $main-border-radius $main-border-radius;
      }

      &:only-child {
        border-radius: $main-border-radius;
      }

      &:hover {
        background-color: $color-gray-100;
      }

      &:active {
        background-color: $color-gray-200;
      }

      &_padding {
        &_05 {
          padding: 0.5rem;
        }
      }
    }

    &__link {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      text-align: left;
      cursor: pointer;
      color: $color-dark;
    }
  }

  &_position {
    &_1rem {
      right: 1rem;
      top: 1rem;
    }
  }
}
