@import '../../styles/app.scss';

.header {
  @include flex-center;
  position: sticky;
  top: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 3;

  @media (max-height: 31.25rem),
  (max-width: 75rem) {
    max-width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
  }
}
