@import '../../styles/app.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  max-height: 100vh;
  z-index: 3;
  @include flex-center;
  overflow-y: auto;

  @media (max-width:75rem) {
    min-width: 5rem;
  }

  @media(max-width:48rem) {
    max-width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
  }
}
