@import '../../styles/app.scss';

.layout {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
    'header main aside'
    'header main aside'
    'footer footer footer';

  &>header {
    grid-area: header;
  }

  &>main {
    grid-area: main;
  }

  &>aside {
    grid-area: aside;
  }

  &>footer {
    grid-area: footer;
  }

  @media(max-width:48rem) {
    height: 100%;
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';

  }
}
