@import '../../styles/app.scss';

.layout {
  display: flex;
  position: relative;
  overflow-y: auto;

  @media (max-height:31.25rem),
  (max-width:75rem) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
  }
}
