@import './variables.scss';

@font-face {
  font-family: 'Patrick Hand';
  src: url('../assets/fonts/PatrickHand-Regular.ttf') format('truetype');
}

h1 {
  font-size: 65px;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  line-height: 60px;
}

h3 {
  font-size: 34px;
  line-height: 24px;
}

h4 {
  font-size: 28px;
  line-height: 120%;
}

h5 {
  font-size: 25px;
  line-height: normal;
}

.title {
  font-size: 18px;
  line-height: 24px;

  &_size {
    &_lg {
      font-size: 22px;
      line-height: 28px;
    }

    &_sm {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &_color {

    &_gray {

      &-500 {
        color: $color-gray-500;
      }
    }
  }

  &_font {
    &_weight {
      &_bold {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 75rem) {
  h1 {
    font-size: 48px;
    line-height: 60px;
  }

  h2 {
    font-size: 34px;
    line-height: 40px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
  }

  h5 {
    font-size: 20px;
    line-height: 24px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;

    &_size {
      &_lg {
        font-size: 20px;
      }

      &_sm {
        font-size: 14px;
      }
    }
  }

}

@media (max-width: 48rem) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
  }

  .title {
    font-size: 14px;
    line-height: 16px;

    &_size {
      &_lg {
        font-size: 18px;
      }

      &_sm {
        font-size: 12px;
      }
    }
  }
}
