$color-white: #fff;
$color-dark: #1B1B1B;
$color-dark-light: #333333;
$color-danger: #E12B56;
$color-orange: #FA9248;
$color-green: #4DA764;
$color-blue: #2B71DB;
$color-gray-100: #EEEEEE;
$color-gray-200: #D8D8D8;
$color-gray-300: #B4B4B4;
$color-gray-400: #929292;
$color-gray-500: #696969;
$color-gray-600: #454545;

$break-point-xxl: 87.5rem;
$break-point-xl: 75rem;
$break-point-lg: 62rem;
$break-point-md: 48rem;
$break-point-sm: 36rem;
$break-point-y: 31.25rem;

$main-border-radius: 0.5rem;
