@import '../../styles/app.scss';

.nav-bar {
  height: 100%;
  width: 100%;
  @include flex-column;
  gap: 3rem;
  padding: 1rem;

  &__list {
    @include flex-column;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  &__link {
    display: flex;
    justify-content: start;
    gap: 1rem;
    color: $color-dark;
    fill: $color-dark;

    &:hover {
      color: $color-gray-400;
      fill: $color-gray-400;
    }

    &:active {
      color: $color-gray-500;
      fill: $color-gray-500;
    }
  }

  &__burger-menu {
    display: none;
  }

  @media (max-width: 75rem) {
    &__title {
      &-link {
        display: none;
      }
    }

    &__item {
      display: flex;
      justify-content: flex-end;
    }

    &__link {
      border-radius: 50%;
      padding: 0.5rem;

      &:hover {
        background-color: $color-gray-100;
        fill: $color-dark;
      }

      &:active {
        background-color: $color-gray-200;
      }
    }

    &__burger-menu {
      display: none;
    }

  }

  @media(max-width:48rem) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-y: visible;
    border-right: none;
    border-bottom: 1px solid $color-gray-300;

    &__burger-menu {
      display: inline-flex;
    }
  }
}

.preview {
  width: 100%;
  height: 100%;
  @include flex-center;
  gap: 1rem;

  &__item {
    position: relative;
    height: 340px;
    flex: 0 0 calc(50% - 0.5rem);

    &:hover {
      .preview__btn-edit {
        display: inline-flex;
      }
    }
  }

  &__btn-edit {
    position: absolute;
    top: 0.313rem;
    right: 0.313rem;
    display: none;
    z-index: 5;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: $main-border-radius;
  }
}
